body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(23, 23, 23);
    color: rgb(216, 216, 216);
    font-family: TTInterphasesProMono, monospace;
    font-size: 0.8em;
    background-image: url(1065762.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(249, 248, 248);
    text-align: center;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 3px solid #A8C7FA;
    display: inline-block;
}

#weather-info {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

#location, #temp {
    font-size: 1.2em;
    color: #ffffff;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.35em;
    padding: 20px;
}

.about-me {
    width: 100%;
    text-align: left;
}

.about-me h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.2em;
    line-height: 1.8;
}

.content-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Este valor puede ser aumentado para hacer los rectángulos más grandes */
}

.box {
    width: 70%; /* Este valor ajusta el ancho de los rectángulos. Podrías aumentarlo hasta un 100% para que ocupen todo el ancho de su contenedor padre. */
    height: 120px; /* Este valor ajusta la altura de los rectángulos. Podrías aumentarlo para hacer los rectángulos más altos. */
    background: #ccc;
    margin: 2%;
    border-radius: 5px;
}

.main-content h2 {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 72px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    background-color: rgb(36, 36, 36);
    padding: 15px 0px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: rgb(26, 26, 26);
    color: #e22b2b;
    font-size: 2.7em;
    border-radius: 25px;
    transition: transform 0.3s ease 0s;
    padding: 15px;
    transition: all 0.3s ease;
}

.contact-icon:hover {
    transform: scale(1.1);
    color: #ffffff;
}

a:-webkit-any-link {
    color: #8A2BE2;
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(216, 216, 216);
    padding: 5px 0px;
}

@media screen and (min-width: 768px) {
    .main-content {
        flex-direction: row;
        margin: auto 5%;
    }

    .about-me,
    .content-boxes {
        width: 45%;
    }

    .content-boxes {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        width: 46%;
    }
}

@media screen and (max-width: 1080px) {
    .main-content {
        flex-direction: column;
        padding: 10px; /* Disminuir este valor para mover el texto más cerca del borde izquierdo */
    }

    .about-me, .content-boxes {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .box {
        width: 90%; /* Aumentar este valor para hacer los rectángulos más grandes */
        margin-bottom: 12px;
    }
}

/* Consulta de medios para pantallas de hasta 600px de ancho */
@media screen and (max-width: 600px) {
    /* Modificando el tamaño de la fuente para los mensajes en dispositivos móviles */
    .user-message, .chatbot-message {
        font-size: 0.8em; /* Ajusta este valor según sea necesario */
    }

    /* Modificando el tamaño de la caja de entrada de chat en dispositivos móviles */
    #chat-input {
        font-size: 0.8em; /* Ajusta este valor según sea necesario */
        height: 200px; /* Ajusta este valor según sea necesario */
    }
    
    /* Ajustando el tamaño y el margen de los mensajes */
    .user-message, .chatbot-message {
        margin: 5px 0; /* Disminuye el margen para que los mensajes ocupen menos espacio */
    }
}